version: '3.1'

services:
  postgres:
    image: 'mysql'
    container_name: mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/data:rw
    environment:
      MYSQL_PASSWORD: 1234
      MYSQL_USER: lugiago
      MYSQL_DATABASE: hospital
      MYSQL_RANDOM_ROOT_PASSWORD: true